/* src/styles/LoadingSpinner.css */

.loading-spinner {
  display: inline-block;
  border: 4px solid;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
  box-shadow:
    0 0 10px #00d8ff,
    0 0 20px #00d8ff,
    0 0 30px #00d8ff;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
